<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>O</key>
    <string>O_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>aring</key>
    <string>aring.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
  </dict>
</plist>
