<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.typemytype.robofont.segmentType</key>
    <string>curve</string>
    <key>public.glyphOrder</key>
    <array>
      <string>G</string>
      <string>A</string>
      <string>D</string>
      <string>E</string>
      <string>H</string>
      <string>I</string>
      <string>N</string>
      <string>O</string>
      <string>R</string>
      <string>S</string>
      <string>U</string>
      <string>a</string>
      <string>e</string>
      <string>h</string>
      <string>i</string>
      <string>l</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>s</string>
      <string>t</string>
      <string>period</string>
    </array>
  </dict>
</plist>
