<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
    </array>
    <key>public.kern1.C</key>
    <array>
      <string>C</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>AE</string>
      <string>OE</string>
      <string>E</string>
    </array>
    <key>public.kern1.G</key>
    <array>
      <string>Gbreve</string>
      <string>Gcaron</string>
      <string>Gcedilla</string>
      <string>Gcircumflex</string>
      <string>Gdotaccent</string>
      <string>Gmacron</string>
      <string>G</string>
    </array>
    <key>public.kern1.H</key>
    <array>
      <string>H</string>
      <string>I</string>
      <string>M</string>
      <string>N</string>
    </array>
    <key>public.kern1.J</key>
    <array>
      <string>Jcircumflex</string>
      <string>NJ</string>
      <string>LJ</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcedilla</string>
      <string>Ldot</string>
      <string>Ldotbelow</string>
      <string>Llinebelow</string>
      <string>Lslash</string>
      <string>L</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>D</string>
      <string>O</string>
      <string>Q</string>
      <string>Eth</string>
      <string>Oslash</string>
    </array>
    <key>public.kern1.R</key>
    <array>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcedilla</string>
      <string>Rdotbelow</string>
      <string>Rgravedbl</string>
      <string>Rinvertedbreve</string>
      <string>Rlinebelow</string>
      <string>R</string>
    </array>
    <key>public.kern1.S</key>
    <array>
      <string>Sacute</string>
      <string>Sacutedotaccent</string>
      <string>Scaron</string>
      <string>Scarondot</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>Scommaaccent</string>
      <string>Sdot</string>
      <string>Sdotbelow</string>
      <string>Sdotbelowdotabove</string>
      <string>S</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>Tbar</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
      <string>Tdotbelow</string>
      <string>Tlinebelow</string>
      <string>T</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>J</string>
      <string>U</string>
    </array>
    <key>public.kern1.W</key>
    <array>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>W</string>
    </array>
    <key>public.kern1.X</key>
    <array>
      <string>K</string>
      <string>X</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>Zdotbelow</string>
      <string>DZcaron</string>
      <string>Z</string>
    </array>
    <key>public.kern1._colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern1._dashes</key>
    <array>
      <string>emdash</string>
      <string>endash</string>
      <string>hyphen</string>
      <string>hyphensoft</string>
      <string>periodcentered</string>
      <string>asciitilde</string>
      <string>bullet</string>
    </array>
    <key>public.kern1._enclosures_1</key>
    <array>
      <string>braceleft</string>
      <string>bracketleft</string>
      <string>parenleft</string>
    </array>
    <key>public.kern1._enclosures_2</key>
    <array>
      <string>braceright</string>
      <string>bracketright</string>
      <string>parenright</string>
    </array>
    <key>public.kern1._guils_1</key>
    <array>
      <string>guillemetleft</string>
    </array>
    <key>public.kern1._guils_2</key>
    <array>
      <string>guillemetright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern1._math</key>
    <array>
      <string>divide</string>
      <string>equal</string>
      <string>greater</string>
      <string>less</string>
      <string>logicalnot</string>
      <string>minus</string>
      <string>multiply</string>
      <string>plus</string>
      <string>plusminus</string>
    </array>
    <key>public.kern1._ptsLow</key>
    <array>
      <string>comma</string>
      <string>period</string>
      <string>quotedblbase</string>
      <string>quotesinglbase</string>
      <string>ellipsis</string>
    </array>
    <key>public.kern1._quotes</key>
    <array>
      <string>quotedbl</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern1._sups</key>
    <array>
      <string>degree</string>
      <string>four.superior</string>
      <string>onesuperior</string>
      <string>threesuperior</string>
      <string>twosuperior</string>
      <string>registered</string>
      <string>asterisk</string>
      <string>asciicircum</string>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
    </array>
    <key>public.kern1._zero</key>
    <array>
      <string>nine</string>
      <string>zero</string>
    </array>
    <key>public.kern1.a_alt</key>
    <array>
      <string>a.alt</string>
      <string>aacute.alt</string>
      <string>abreve.alt</string>
      <string>abreveacute.alt</string>
      <string>abrevedotbelow.alt</string>
      <string>abrevegrave.alt</string>
      <string>abrevehoi.alt</string>
      <string>abrevetilde.alt</string>
      <string>acircumflex.alt</string>
      <string>acircumflexacute.alt</string>
      <string>acircumflexdotbelow.alt</string>
      <string>acircumflexgrave.alt</string>
      <string>acircumflexhoi.alt</string>
      <string>acircumflextilde.alt</string>
      <string>adieresis.alt</string>
      <string>adotbelow.alt</string>
      <string>agrave.alt</string>
      <string>agravedbl.alt</string>
      <string>ahoi.alt</string>
      <string>ainvertedbreve.alt</string>
      <string>amacron.alt</string>
      <string>aogonek.alt</string>
      <string>aring.alt</string>
      <string>aringacute.alt</string>
      <string>atilde.alt</string>
    </array>
    <key>public.kern1.c</key>
    <array>
      <string>c</string>
    </array>
    <key>public.kern1.d</key>
    <array>
      <string>d</string>
      <string>l</string>
    </array>
    <key>public.kern1.e</key>
    <array>
      <string>oe</string>
      <string>e</string>
      <string>ae</string>
    </array>
    <key>public.kern1.g</key>
    <array/>
    <key>public.kern1.i</key>
    <array>
      <string>i</string>
      <string>j</string>
      <string>dotlessi</string>
    </array>
    <key>public.kern1.n</key>
    <array>
      <string>h</string>
      <string>m</string>
      <string>n</string>
    </array>
    <key>public.kern1.o</key>
    <array>
      <string>b</string>
      <string>o</string>
      <string>p</string>
      <string>oslash</string>
      <string>thorn</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcedilla</string>
      <string>rdotbelow</string>
      <string>rgravedbl</string>
      <string>rinvertedbreve</string>
      <string>rlinebelow</string>
      <string>r</string>
    </array>
    <key>public.kern1.s</key>
    <array>
      <string>sacute</string>
      <string>sacutedotaccent</string>
      <string>scaron</string>
      <string>scarondot</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>scommaaccent</string>
      <string>sdot</string>
      <string>sdotbelow</string>
      <string>sdotbelowdotabove</string>
      <string>s</string>
    </array>
    <key>public.kern1.t</key>
    <array>
      <string>tbar</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
      <string>tdieresis</string>
      <string>tdotbelow</string>
      <string>tlinebelow</string>
      <string>t</string>
    </array>
    <key>public.kern1.t_alt</key>
    <array>
      <string>t.alt</string>
      <string>tbar.alt</string>
      <string>tcaron.alt</string>
      <string>tcedilla.alt</string>
      <string>tcommaaccent.alt</string>
      <string>tdieresis.alt</string>
      <string>tdotbelow.alt</string>
      <string>tlinebelow.alt</string>
    </array>
    <key>public.kern1.u</key>
    <array>
      <string>q</string>
      <string>u</string>
      <string>mu.math</string>
      <string>a</string>
      <string>g</string>
    </array>
    <key>public.kern1.u_alt</key>
    <array>
      <string>u.alt</string>
      <string>uacute.alt</string>
      <string>ubreve.alt</string>
      <string>ucircumflex.alt</string>
      <string>udieresis.alt</string>
      <string>udotbelow.alt</string>
      <string>ugrave.alt</string>
      <string>ugravedbl.alt</string>
      <string>uhoi.alt</string>
      <string>uhorn.alt</string>
      <string>uhornacute.alt</string>
      <string>uhorndotbelow.alt</string>
      <string>uhorngrave.alt</string>
      <string>uhornhoi.alt</string>
      <string>uhorntilde.alt</string>
      <string>uhungarumlaut.alt</string>
      <string>uinvertedbreve.alt</string>
      <string>umacron.alt</string>
      <string>umacrondieresis.alt</string>
      <string>uogonek.alt</string>
      <string>uring.alt</string>
      <string>utilde.alt</string>
      <string>utildeacute.alt</string>
    </array>
    <key>public.kern1.v</key>
    <array>
      <string>v</string>
      <string>w</string>
      <string>y</string>
    </array>
    <key>public.kern1.x</key>
    <array>
      <string>k</string>
      <string>x</string>
    </array>
    <key>public.kern1.z</key>
    <array>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
      <string>zdotbelow</string>
      <string>Dzcaron</string>
      <string>dzcaron</string>
      <string>z</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
    </array>
    <key>public.kern2.AE</key>
    <array>
      <string>AE</string>
      <string>AEacute</string>
    </array>
    <key>public.kern2.C</key>
    <array>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccedillaacute</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
    </array>
    <key>public.kern2.H</key>
    <array>
      <string>B</string>
      <string>E</string>
      <string>F</string>
      <string>H</string>
      <string>I</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>P</string>
      <string>R</string>
      <string>Thorn</string>
    </array>
    <key>public.kern2.J</key>
    <array>
      <string>Jcircumflex</string>
      <string>J</string>
    </array>
    <key>public.kern2.O</key>
    <array>
      <string>G</string>
      <string>O</string>
      <string>Q</string>
      <string>C</string>
      <string>OE</string>
      <string>Oslash</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>Sacute</string>
      <string>Sacutedotaccent</string>
      <string>Scaron</string>
      <string>Scarondot</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>Scommaaccent</string>
      <string>Sdot</string>
      <string>Sdotbelow</string>
      <string>Sdotbelowdotabove</string>
      <string>S</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>Tbar</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
      <string>Tdotbelow</string>
      <string>Tlinebelow</string>
      <string>T</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>U</string>
    </array>
    <key>public.kern2.W</key>
    <array>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>W</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
    </array>
    <key>public.kern2.Z</key>
    <array>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>Zdotbelow</string>
      <string>Z</string>
    </array>
    <key>public.kern2._colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern2._dashes</key>
    <array>
      <string>bullet</string>
      <string>emdash</string>
      <string>endash</string>
      <string>hyphen</string>
      <string>hyphensoft</string>
      <string>asciitilde</string>
      <string>periodcentered</string>
    </array>
    <key>public.kern2._enclosures_1</key>
    <array>
      <string>braceright</string>
      <string>bracketright</string>
      <string>parenright</string>
    </array>
    <key>public.kern2._enclosures_2</key>
    <array>
      <string>braceleft</string>
      <string>bracketleft</string>
      <string>parenleft</string>
    </array>
    <key>public.kern2._guils_1</key>
    <array>
      <string>guillemetright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern2._guils_2</key>
    <array>
      <string>guillemetleft</string>
    </array>
    <key>public.kern2._math</key>
    <array>
      <string>divide</string>
      <string>equal</string>
      <string>greater</string>
      <string>less</string>
      <string>logicalnot</string>
      <string>minus</string>
      <string>multiply</string>
      <string>plus</string>
      <string>plusminus</string>
    </array>
    <key>public.kern2._ptslow</key>
    <array>
      <string>comma</string>
      <string>period</string>
      <string>quotedblbase</string>
      <string>quotesinglbase</string>
      <string>ellipsis</string>
    </array>
    <key>public.kern2._quotes</key>
    <array>
      <string>quotedbl</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern2._sups</key>
    <array>
      <string>degree</string>
      <string>four.superior</string>
      <string>onesuperior</string>
      <string>threesuperior</string>
      <string>twosuperior</string>
      <string>registered</string>
      <string>asterisk</string>
      <string>asciicircum</string>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
    </array>
    <key>public.kern2._zero</key>
    <array>
      <string>nine</string>
      <string>zero</string>
    </array>
    <key>public.kern2.a_alt</key>
    <array>
      <string>a.alt</string>
      <string>aacute.alt</string>
      <string>abreve.alt</string>
      <string>abreveacute.alt</string>
      <string>abrevedotbelow.alt</string>
      <string>abrevegrave.alt</string>
      <string>abrevehoi.alt</string>
      <string>abrevetilde.alt</string>
      <string>acircumflex.alt</string>
      <string>acircumflexacute.alt</string>
      <string>acircumflexdotbelow.alt</string>
      <string>acircumflexgrave.alt</string>
      <string>acircumflexhoi.alt</string>
      <string>acircumflextilde.alt</string>
      <string>adieresis.alt</string>
      <string>adotbelow.alt</string>
      <string>agrave.alt</string>
      <string>agravedbl.alt</string>
      <string>ahoi.alt</string>
      <string>ainvertedbreve.alt</string>
      <string>amacron.alt</string>
      <string>aogonek.alt</string>
      <string>aring.alt</string>
      <string>aringacute.alt</string>
      <string>atilde.alt</string>
      <string>ae.alt</string>
      <string>aeacute.alt</string>
    </array>
    <key>public.kern2.b</key>
    <array>
      <string>b</string>
      <string>h</string>
      <string>l</string>
      <string>k</string>
      <string>thorn</string>
      <string>germandbls</string>
    </array>
    <key>public.kern2.i</key>
    <array>
      <string>dotlessi</string>
      <string>i</string>
    </array>
    <key>public.kern2.j</key>
    <array>
      <string>dotlessj</string>
      <string>jcircumflex</string>
      <string>j</string>
    </array>
    <key>public.kern2.l</key>
    <array>
      <string>hbar</string>
      <string>hbrevebelow</string>
      <string>hcircumflex</string>
      <string>hdotbelow</string>
      <string>kcedilla</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>lcedilla</string>
      <string>ldot</string>
      <string>ldotbelow</string>
      <string>llinebelow</string>
      <string>lslash</string>
      <string>lj</string>
    </array>
    <key>public.kern2.n</key>
    <array>
      <string>m</string>
      <string>n</string>
      <string>p</string>
      <string>r</string>
      <string>mu.math</string>
    </array>
    <key>public.kern2.o</key>
    <array>
      <string>a</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>g</string>
      <string>o</string>
      <string>q</string>
      <string>ae</string>
      <string>oslash</string>
      <string>oe</string>
    </array>
    <key>public.kern2.s</key>
    <array>
      <string>sacute</string>
      <string>sacutedotaccent</string>
      <string>scaron</string>
      <string>scarondot</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>scommaaccent</string>
      <string>sdot</string>
      <string>sdotbelow</string>
      <string>sdotbelowdotabove</string>
      <string>s</string>
    </array>
    <key>public.kern2.t</key>
    <array>
      <string>f</string>
      <string>t</string>
      <string>t.alt</string>
    </array>
    <key>public.kern2.u</key>
    <array>
      <string>u</string>
      <string>u.alt</string>
    </array>
    <key>public.kern2.u_alt</key>
    <array>
      <string>u.alt</string>
      <string>uacute.alt</string>
      <string>ubreve.alt</string>
      <string>ucircumflex.alt</string>
      <string>udieresis.alt</string>
      <string>udotbelow.alt</string>
      <string>ugrave.alt</string>
      <string>ugravedbl.alt</string>
      <string>uhoi.alt</string>
      <string>uhorn.alt</string>
      <string>uhornacute.alt</string>
      <string>uhorndotbelow.alt</string>
      <string>uhorngrave.alt</string>
      <string>uhornhoi.alt</string>
      <string>uhorntilde.alt</string>
      <string>uhungarumlaut.alt</string>
      <string>uinvertedbreve.alt</string>
      <string>umacron.alt</string>
      <string>umacrondieresis.alt</string>
      <string>uogonek.alt</string>
      <string>uring.alt</string>
      <string>utilde.alt</string>
      <string>utildeacute.alt</string>
    </array>
    <key>public.kern2.v</key>
    <array>
      <string>v</string>
      <string>w</string>
      <string>y</string>
    </array>
    <key>public.kern2.z</key>
    <array>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
      <string>zdotbelow</string>
    </array>
  </dict>
</plist>
