<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>A.alt</key>
    <string>A_.alt.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one.alt</key>
    <string>one.alt.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.flat</key>
    <string>three.flat.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
  </dict>
</plist>
