<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>z</key>
    <string>z.glif</string>
  </dict>
</plist>
