<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>acute</key>
    <string>acute.glif</string>
    <key>arrowNE</key>
    <string>arrowN_E_.glif</string>
    <key>arrowNW</key>
    <string>arrowN_W_.glif</string>
    <key>arrowright</key>
    <string>arrowright.glif</string>
    <key>billiards</key>
    <string>billiards.glif</string>
    <key>bowling</key>
    <string>bowling.glif</string>
    <key>camera</key>
    <string>camera.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>frowningfacewhite</key>
    <string>frowningfacewhite.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>heartwhite</key>
    <string>heartwhite.glif</string>
    <key>key</key>
    <string>key.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>mansShoe</key>
    <string>mansS_hoe.glif</string>
    <key>musicalNote</key>
    <string>musicalN_ote.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>scissorsblack</key>
    <string>scissorsblack.glif</string>
    <key>sliceOfPizza</key>
    <string>sliceO_fP_izza.glif</string>
    <key>smilingfacewhite</key>
    <string>smilingfacewhite.glif</string>
    <key>starwhite</key>
    <string>starwhite.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>uni1f9fa</key>
    <string>uni1f9fa.glif</string>
    <key>wineGlass</key>
    <string>wineG_lass.glif</string>
  </dict>
</plist>
