<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>acute</key>
    <string>acute.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
  </dict>
</plist>
