<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.superior</key>
    <string>four.superior.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>indianrupee</key>
    <string>indianrupee.glif</string>
    <key>lira</key>
    <string>lira.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif</string>
    <key>z</key>
    <string>z.glif</string>
  </dict>
</plist>
