<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>D</key>
    <string>D_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>s</key>
    <string>s.glif</string>
  </dict>
</plist>
