<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>B</key>
    <dict>
      <key>AE</key>
      <integer>-10</integer>
      <key>Eth</key>
      <integer>15</integer>
      <key>T</key>
      <integer>-10</integer>
      <key>V</key>
      <integer>-15</integer>
      <key>W</key>
      <integer>-15</integer>
      <key>X</key>
      <integer>-10</integer>
      <key>j</key>
      <integer>-10</integer>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-25</integer>
      <key>public.kern2._enclosures_1</key>
      <integer>-20</integer>
      <key>public.kern2._ptslow</key>
      <integer>-10</integer>
      <key>public.kern2._quotes</key>
      <integer>-10</integer>
      <key>public.kern2._sups</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-5</integer>
      <key>question</key>
      <integer>-10</integer>
      <key>s</key>
      <integer>-5</integer>
      <key>x</key>
      <integer>-5</integer>
    </dict>
    <key>Euro</key>
    <dict>
      <key>public.kern2._zero</key>
      <integer>-20</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>AE</key>
      <integer>-70</integer>
      <key>Eth</key>
      <integer>10</integer>
      <key>J</key>
      <integer>-85</integer>
      <key>S</key>
      <integer>-10</integer>
      <key>X</key>
      <integer>-10</integer>
      <key>eth</key>
      <integer>-10</integer>
      <key>j</key>
      <integer>-15</integer>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2._colon</key>
      <integer>-10</integer>
      <key>public.kern2._dashes</key>
      <integer>-10</integer>
      <key>public.kern2._ptslow</key>
      <integer>-70</integer>
      <key>public.kern2._sups</key>
      <integer>-10</integer>
      <key>public.kern2.n</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-25</integer>
      <key>public.kern2.t</key>
      <integer>-10</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>s</key>
      <integer>-20</integer>
      <key>x</key>
      <integer>-10</integer>
      <key>z</key>
      <integer>-10</integer>
    </dict>
    <key>G</key>
    <dict>
      <key>AE</key>
      <integer>-10</integer>
      <key>j</key>
      <integer>-5</integer>
      <key>public.kern2.A</key>
      <integer>-5</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>Eth</key>
      <integer>-20</integer>
      <key>J</key>
      <integer>-10</integer>
      <key>L</key>
      <integer>-40</integer>
      <key>S</key>
      <integer>-35</integer>
      <key>T</key>
      <integer>-90</integer>
      <key>V</key>
      <integer>-90</integer>
      <key>W</key>
      <integer>-75</integer>
      <key>eth</key>
      <integer>-10</integer>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.H</key>
      <integer>-30</integer>
      <key>public.kern2.O</key>
      <integer>-50</integer>
      <key>public.kern2.U</key>
      <integer>-35</integer>
      <key>public.kern2.Y</key>
      <integer>-95</integer>
      <key>public.kern2._colon</key>
      <integer>-20</integer>
      <key>public.kern2._dashes</key>
      <integer>-50</integer>
      <key>public.kern2._enclosures_1</key>
      <integer>-40</integer>
      <key>public.kern2._guils_2</key>
      <integer>-30</integer>
      <key>public.kern2._ptslow</key>
      <integer>-20</integer>
      <key>public.kern2._quotes</key>
      <integer>-100</integer>
      <key>public.kern2._sups</key>
      <integer>-70</integer>
      <key>public.kern2.o</key>
      <integer>-50</integer>
      <key>public.kern2.t</key>
      <integer>-50</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-60</integer>
      <key>question</key>
      <integer>-60</integer>
      <key>s</key>
      <integer>-10</integer>
      <key>x</key>
      <integer>-10</integer>
      <key>z</key>
      <integer>-5</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>AE</key>
      <integer>-90</integer>
      <key>Eth</key>
      <integer>10</integer>
      <key>J</key>
      <integer>-95</integer>
      <key>S</key>
      <integer>-10</integer>
      <key>T</key>
      <integer>-10</integer>
      <key>X</key>
      <integer>-35</integer>
      <key>Z</key>
      <integer>-20</integer>
      <key>eth</key>
      <integer>-15</integer>
      <key>j</key>
      <integer>-20</integer>
      <key>public.kern2.A</key>
      <integer>-60</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-15</integer>
      <key>public.kern2._dashes</key>
      <integer>-10</integer>
      <key>public.kern2._enclosures_1</key>
      <integer>-30</integer>
      <key>public.kern2._ptslow</key>
      <integer>-100</integer>
      <key>public.kern2.o</key>
      <integer>-25</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
      <key>s</key>
      <integer>-15</integer>
      <key>x</key>
      <integer>-10</integer>
    </dict>
    <key>R</key>
    <dict>
      <key>AE</key>
      <integer>-20</integer>
      <key>S</key>
      <integer>-5</integer>
      <key>T</key>
      <integer>-30</integer>
      <key>V</key>
      <integer>-40</integer>
      <key>W</key>
      <integer>-40</integer>
      <key>eth</key>
      <integer>-10</integer>
      <key>j</key>
      <integer>-5</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.U</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2._dashes</key>
      <integer>-30</integer>
      <key>public.kern2._enclosures_1</key>
      <integer>-20</integer>
      <key>public.kern2._quotes</key>
      <integer>-30</integer>
      <key>public.kern2._sups</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-15</integer>
      <key>public.kern2.t</key>
      <integer>-15</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>question</key>
      <integer>-10</integer>
      <key>s</key>
      <integer>-5</integer>
    </dict>
    <key>S</key>
    <dict>
      <key>AE</key>
      <integer>-20</integer>
      <key>Eth</key>
      <integer>10</integer>
      <key>S</key>
      <integer>-20</integer>
      <key>V</key>
      <integer>-5</integer>
      <key>W</key>
      <integer>-5</integer>
      <key>X</key>
      <integer>-10</integer>
      <key>Z</key>
      <integer>-10</integer>
      <key>eth</key>
      <integer>-5</integer>
      <key>j</key>
      <integer>-15</integer>
      <key>public.kern2.A</key>
      <integer>-5</integer>
      <key>public.kern2.O</key>
      <integer>-15</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2._enclosures_1</key>
      <integer>-20</integer>
      <key>public.kern2._ptslow</key>
      <integer>-15</integer>
      <key>public.kern2._quotes</key>
      <integer>-10</integer>
      <key>public.kern2._sups</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-5</integer>
      <key>public.kern2.t</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>s</key>
      <integer>-10</integer>
      <key>x</key>
      <integer>-10</integer>
      <key>z</key>
      <integer>-5</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>AE</key>
      <integer>-80</integer>
      <key>J</key>
      <integer>-80</integer>
      <key>S</key>
      <integer>-10</integer>
      <key>eth</key>
      <integer>-50</integer>
      <key>j</key>
      <integer>-30</integer>
      <key>public.kern2.A</key>
      <integer>-55</integer>
      <key>public.kern2.O</key>
      <integer>-30</integer>
      <key>public.kern2._colon</key>
      <integer>-20</integer>
      <key>public.kern2._dashes</key>
      <integer>-40</integer>
      <key>public.kern2._guils_1</key>
      <integer>-20</integer>
      <key>public.kern2._guils_2</key>
      <integer>-60</integer>
      <key>public.kern2._ptslow</key>
      <integer>-70</integer>
      <key>public.kern2._sups</key>
      <integer>-10</integer>
      <key>public.kern2.b</key>
      <integer>-10</integer>
      <key>public.kern2.i</key>
      <integer>-10</integer>
      <key>public.kern2.n</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-70</integer>
      <key>public.kern2.t</key>
      <integer>-30</integer>
      <key>public.kern2.u</key>
      <integer>-60</integer>
      <key>public.kern2.v</key>
      <integer>-70</integer>
      <key>s</key>
      <integer>-75</integer>
      <key>x</key>
      <integer>-60</integer>
      <key>z</key>
      <integer>-60</integer>
    </dict>
    <key>Thorn</key>
    <dict>
      <key>AE</key>
      <integer>-45</integer>
      <key>Eth</key>
      <integer>20</integer>
      <key>J</key>
      <integer>-50</integer>
      <key>S</key>
      <integer>-5</integer>
      <key>T</key>
      <integer>-30</integer>
      <key>V</key>
      <integer>-25</integer>
      <key>W</key>
      <integer>-10</integer>
      <key>X</key>
      <integer>-45</integer>
      <key>Z</key>
      <integer>-20</integer>
      <key>j</key>
      <integer>-15</integer>
      <key>public.kern2.A</key>
      <integer>-25</integer>
      <key>public.kern2.O</key>
      <integer>5</integer>
      <key>public.kern2.Y</key>
      <integer>-40</integer>
      <key>public.kern2._enclosures_1</key>
      <integer>-80</integer>
      <key>public.kern2._ptslow</key>
      <integer>-60</integer>
      <key>public.kern2._sups</key>
      <integer>-20</integer>
      <key>question</key>
      <integer>-20</integer>
      <key>x</key>
      <integer>-15</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>AE</key>
      <integer>-80</integer>
      <key>J</key>
      <integer>-70</integer>
      <key>S</key>
      <integer>-10</integer>
      <key>V</key>
      <integer>-20</integer>
      <key>W</key>
      <integer>-20</integer>
      <key>Z</key>
      <integer>-10</integer>
      <key>eth</key>
      <integer>-50</integer>
      <key>j</key>
      <integer>-20</integer>
      <key>public.kern2.A</key>
      <integer>-70</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>public.kern2._colon</key>
      <integer>-30</integer>
      <key>public.kern2._dashes</key>
      <integer>-30</integer>
      <key>public.kern2._guils_1</key>
      <integer>-10</integer>
      <key>public.kern2._guils_2</key>
      <integer>-30</integer>
      <key>public.kern2._ptslow</key>
      <integer>-100</integer>
      <key>public.kern2._quotes</key>
      <integer>10</integer>
      <key>public.kern2.b</key>
      <integer>-10</integer>
      <key>public.kern2.n</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-60</integer>
      <key>public.kern2.t</key>
      <integer>-10</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>s</key>
      <integer>-60</integer>
      <key>x</key>
      <integer>-30</integer>
      <key>z</key>
      <integer>-30</integer>
    </dict>
    <key>W</key>
    <dict>
      <key>AE</key>
      <integer>-60</integer>
      <key>J</key>
      <integer>-60</integer>
      <key>S</key>
      <integer>-20</integer>
      <key>V</key>
      <integer>-20</integer>
      <key>W</key>
      <integer>-20</integer>
      <key>Z</key>
      <integer>-10</integer>
      <key>eth</key>
      <integer>-30</integer>
      <key>j</key>
      <integer>-20</integer>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>public.kern2._colon</key>
      <integer>-30</integer>
      <key>public.kern2._dashes</key>
      <integer>-20</integer>
      <key>public.kern2._ptslow</key>
      <integer>-80</integer>
      <key>public.kern2._quotes</key>
      <integer>10</integer>
      <key>public.kern2.n</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-45</integer>
      <key>public.kern2.t</key>
      <integer>-10</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-30</integer>
      <key>s</key>
      <integer>-40</integer>
      <key>x</key>
      <integer>-20</integer>
      <key>z</key>
      <integer>-10</integer>
    </dict>
    <key>Z</key>
    <dict>
      <key>AE</key>
      <integer>-10</integer>
      <key>S</key>
      <integer>-15</integer>
      <key>Z</key>
      <integer>-10</integer>
      <key>eth</key>
      <integer>-20</integer>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>-35</integer>
      <key>public.kern2._dashes</key>
      <integer>-50</integer>
      <key>public.kern2._guils_1</key>
      <integer>-10</integer>
      <key>public.kern2._guils_2</key>
      <integer>-40</integer>
      <key>public.kern2._ptslow</key>
      <integer>-25</integer>
      <key>public.kern2._quotes</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>public.kern2.t</key>
      <integer>-20</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-40</integer>
      <key>s</key>
      <integer>-35</integer>
      <key>x</key>
      <integer>-20</integer>
      <key>z</key>
      <integer>-20</integer>
    </dict>
    <key>ampersand</key>
    <dict>
      <key>public.kern2._zero</key>
      <integer>10</integer>
      <key>seven</key>
      <integer>-30</integer>
      <key>six</key>
      <integer>10</integer>
      <key>three</key>
      <integer>-10</integer>
      <key>two</key>
      <integer>-10</integer>
    </dict>
    <key>backslash</key>
    <dict>
      <key>eight</key>
      <integer>-30</integer>
      <key>four</key>
      <integer>-20</integer>
      <key>one</key>
      <integer>-60</integer>
      <key>public.kern2._zero</key>
      <integer>-50</integer>
      <key>seven</key>
      <integer>-40</integer>
      <key>six</key>
      <integer>-50</integer>
      <key>two</key>
      <integer>-10</integer>
    </dict>
    <key>cent</key>
    <dict>
      <key>six</key>
      <integer>10</integer>
    </dict>
    <key>divisionslash</key>
    <dict>
      <key>eight</key>
      <integer>-10</integer>
      <key>four</key>
      <integer>-50</integer>
      <key>public.kern2._zero</key>
      <integer>-30</integer>
      <key>seven</key>
      <integer>10</integer>
      <key>six</key>
      <integer>-30</integer>
    </dict>
    <key>dollar</key>
    <dict>
      <key>five</key>
      <integer>10</integer>
      <key>four</key>
      <integer>10</integer>
      <key>public.kern2._zero</key>
      <integer>20</integer>
    </dict>
    <key>eight</key>
    <dict>
      <key>backslash</key>
      <integer>-30</integer>
      <key>divisionslash</key>
      <integer>-10</integer>
      <key>eight</key>
      <integer>-10</integer>
      <key>five</key>
      <integer>-10</integer>
      <key>four</key>
      <integer>-10</integer>
      <key>one</key>
      <integer>-20</integer>
      <key>public.kern2._dashes</key>
      <integer>-10</integer>
      <key>public.kern2._enclosures_1</key>
      <integer>-30</integer>
      <key>public.kern2._ptslow</key>
      <integer>-20</integer>
      <key>public.kern2._quotes</key>
      <integer>-10</integer>
      <key>public.kern2._zero</key>
      <integer>-10</integer>
      <key>seven</key>
      <integer>-35</integer>
      <key>slash</key>
      <integer>-30</integer>
      <key>three</key>
      <integer>-10</integer>
      <key>two</key>
      <integer>-15</integer>
      <key>underscore</key>
      <integer>-20</integer>
    </dict>
    <key>eth</key>
    <dict>
      <key>j</key>
      <integer>-10</integer>
      <key>public.kern2._enclosures_1</key>
      <integer>-20</integer>
      <key>public.kern2._ptslow</key>
      <integer>-20</integer>
      <key>public.kern2.t</key>
      <integer>-10</integer>
      <key>x</key>
      <integer>-15</integer>
    </dict>
    <key>f</key>
    <dict>
      <key>eth</key>
      <integer>-10</integer>
      <key>j</key>
      <integer>-15</integer>
      <key>public.kern2._enclosures_1</key>
      <integer>10</integer>
      <key>public.kern2._ptslow</key>
      <integer>-70</integer>
      <key>public.kern2._quotes</key>
      <integer>10</integer>
      <key>public.kern2.o</key>
      <integer>-15</integer>
      <key>question</key>
      <integer>10</integer>
      <key>s</key>
      <integer>-5</integer>
      <key>x</key>
      <integer>-5</integer>
    </dict>
    <key>five</key>
    <dict>
      <key>backslash</key>
      <integer>-10</integer>
      <key>divisionslash</key>
      <integer>-10</integer>
      <key>eight</key>
      <integer>-10</integer>
      <key>five</key>
      <integer>-15</integer>
      <key>one</key>
      <integer>-10</integer>
      <key>public.kern2._dashes</key>
      <integer>-10</integer>
      <key>public.kern2._enclosures_1</key>
      <integer>-10</integer>
      <key>public.kern2._ptslow</key>
      <integer>-15</integer>
      <key>public.kern2._zero</key>
      <integer>-10</integer>
      <key>seven</key>
      <integer>-10</integer>
      <key>slash</key>
      <integer>-30</integer>
      <key>three</key>
      <integer>-5</integer>
      <key>two</key>
      <integer>-10</integer>
      <key>underscore</key>
      <integer>-20</integer>
    </dict>
    <key>four</key>
    <dict>
      <key>eight</key>
      <integer>5</integer>
      <key>four</key>
      <integer>5</integer>
      <key>one</key>
      <integer>-10</integer>
      <key>public.kern2._quotes</key>
      <integer>-20</integer>
      <key>seven</key>
      <integer>-15</integer>
    </dict>
    <key>germandbls</key>
    <dict>
      <key>j</key>
      <integer>-5</integer>
      <key>public.kern2._ptslow</key>
      <integer>-5</integer>
      <key>public.kern2.t</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>s</key>
      <integer>-5</integer>
      <key>x</key>
      <integer>-10</integer>
      <key>z</key>
      <integer>-5</integer>
    </dict>
    <key>one</key>
    <dict>
      <key>public.kern2._ptslow</key>
      <integer>-10</integer>
      <key>public.kern2._quotes</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>AE</key>
      <integer>-10</integer>
      <key>S</key>
      <integer>-5</integer>
      <key>T</key>
      <integer>-55</integer>
      <key>V</key>
      <integer>-70</integer>
      <key>W</key>
      <integer>-50</integer>
      <key>Z</key>
      <integer>-5</integer>
      <key>eth</key>
      <integer>-10</integer>
      <key>j</key>
      <integer>-5</integer>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.U</key>
      <integer>-15</integer>
      <key>public.kern2.Y</key>
      <integer>-80</integer>
      <key>public.kern2._dashes</key>
      <integer>-20</integer>
      <key>public.kern2._enclosures_1</key>
      <integer>-20</integer>
      <key>public.kern2._guils_2</key>
      <integer>-20</integer>
      <key>public.kern2._quotes</key>
      <integer>-80</integer>
      <key>public.kern2._sups</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.t</key>
      <integer>-25</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-35</integer>
      <key>question</key>
      <integer>-40</integer>
      <key>s</key>
      <integer>-5</integer>
      <key>x</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>AE</key>
      <integer>-10</integer>
      <key>J</key>
      <integer>-10</integer>
      <key>X</key>
      <integer>-5</integer>
      <key>eth</key>
      <integer>-10</integer>
      <key>j</key>
      <integer>-10</integer>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2._dashes</key>
      <integer>-10</integer>
      <key>public.kern2._ptslow</key>
      <integer>-10</integer>
      <key>public.kern2._sups</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>s</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>Eth</key>
      <integer>10</integer>
      <key>eth</key>
      <integer>-10</integer>
      <key>public.kern2.A</key>
      <integer>-5</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-15</integer>
      <key>public.kern2.t</key>
      <integer>-10</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>s</key>
      <integer>-5</integer>
      <key>x</key>
      <integer>-5</integer>
      <key>z</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.H</key>
    <dict>
      <key>eth</key>
      <integer>-10</integer>
      <key>j</key>
      <integer>-5</integer>
      <key>public.kern2.H</key>
      <integer>-5</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.t</key>
      <integer>-5</integer>
      <key>public.kern2.u</key>
      <integer>-5</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>s</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>AE</key>
      <integer>-30</integer>
      <key>Eth</key>
      <integer>20</integer>
      <key>J</key>
      <integer>-30</integer>
      <key>S</key>
      <integer>-15</integer>
      <key>T</key>
      <integer>-30</integer>
      <key>V</key>
      <integer>-20</integer>
      <key>W</key>
      <integer>-20</integer>
      <key>X</key>
      <integer>-30</integer>
      <key>Z</key>
      <integer>-25</integer>
      <key>eth</key>
      <integer>-5</integer>
      <key>j</key>
      <integer>-10</integer>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-35</integer>
      <key>public.kern2._dashes</key>
      <integer>10</integer>
      <key>public.kern2._enclosures_1</key>
      <integer>-40</integer>
      <key>public.kern2._ptslow</key>
      <integer>-40</integer>
      <key>public.kern2._quotes</key>
      <integer>-10</integer>
      <key>public.kern2._sups</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-5</integer>
      <key>public.kern2.v</key>
      <integer>5</integer>
      <key>question</key>
      <integer>-20</integer>
      <key>s</key>
      <integer>-5</integer>
      <key>x</key>
      <integer>-10</integer>
      <key>z</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>AE</key>
      <integer>-30</integer>
      <key>J</key>
      <integer>-10</integer>
      <key>eth</key>
      <integer>-5</integer>
      <key>j</key>
      <integer>-15</integer>
      <key>public.kern2.A</key>
      <integer>-15</integer>
      <key>public.kern2._ptslow</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>s</key>
      <integer>-15</integer>
      <key>x</key>
      <integer>-10</integer>
      <key>z</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>AE</key>
      <integer>-30</integer>
      <key>Eth</key>
      <integer>-10</integer>
      <key>S</key>
      <integer>-10</integer>
      <key>eth</key>
      <integer>-30</integer>
      <key>public.kern2.O</key>
      <integer>-30</integer>
      <key>public.kern2.U</key>
      <integer>-5</integer>
      <key>public.kern2._dashes</key>
      <integer>-50</integer>
      <key>public.kern2._guils_2</key>
      <integer>-20</integer>
      <key>public.kern2._quotes</key>
      <integer>-20</integer>
      <key>public.kern2._sups</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>public.kern2.t</key>
      <integer>-25</integer>
      <key>public.kern2.u</key>
      <integer>-15</integer>
      <key>public.kern2.v</key>
      <integer>-40</integer>
      <key>s</key>
      <integer>-10</integer>
      <key>x</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>AE</key>
      <integer>-80</integer>
      <key>J</key>
      <integer>-75</integer>
      <key>S</key>
      <integer>-20</integer>
      <key>eth</key>
      <integer>-75</integer>
      <key>j</key>
      <integer>-30</integer>
      <key>public.kern2.A</key>
      <integer>-80</integer>
      <key>public.kern2.O</key>
      <integer>-35</integer>
      <key>public.kern2._colon</key>
      <integer>-40</integer>
      <key>public.kern2._dashes</key>
      <integer>-60</integer>
      <key>public.kern2._guils_1</key>
      <integer>-20</integer>
      <key>public.kern2._guils_2</key>
      <integer>-40</integer>
      <key>public.kern2._ptslow</key>
      <integer>-110</integer>
      <key>public.kern2.b</key>
      <integer>-10</integer>
      <key>public.kern2.i</key>
      <integer>-10</integer>
      <key>public.kern2.n</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-90</integer>
      <key>public.kern2.t</key>
      <integer>-30</integer>
      <key>public.kern2.u</key>
      <integer>-40</integer>
      <key>public.kern2.v</key>
      <integer>-40</integer>
      <key>question</key>
      <integer>10</integer>
      <key>s</key>
      <integer>-80</integer>
      <key>x</key>
      <integer>-35</integer>
      <key>z</key>
      <integer>-45</integer>
    </dict>
    <key>public.kern1._colon</key>
    <dict>
      <key>V</key>
      <integer>-30</integer>
      <key>W</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-40</integer>
      <key>public.kern2._enclosures_1</key>
      <integer>-20</integer>
      <key>seven</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1._dashes</key>
    <dict>
      <key>AE</key>
      <integer>-30</integer>
      <key>Eth</key>
      <integer>30</integer>
      <key>J</key>
      <integer>-40</integer>
      <key>T</key>
      <integer>-40</integer>
      <key>V</key>
      <integer>-30</integer>
      <key>W</key>
      <integer>-10</integer>
      <key>X</key>
      <integer>-40</integer>
      <key>Z</key>
      <integer>-20</integer>
      <key>eight</key>
      <integer>-10</integer>
      <key>five</key>
      <integer>-5</integer>
      <key>four</key>
      <integer>15</integer>
      <key>one</key>
      <integer>-40</integer>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>10</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2._enclosures_1</key>
      <integer>-60</integer>
      <key>public.kern2._ptslow</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>10</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>s</key>
      <integer>5</integer>
      <key>seven</key>
      <integer>-70</integer>
      <key>three</key>
      <integer>-25</integer>
      <key>two</key>
      <integer>-40</integer>
      <key>x</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1._enclosures_1</key>
    <dict>
      <key>AE</key>
      <integer>-50</integer>
      <key>Eth</key>
      <integer>-20</integer>
      <key>J</key>
      <integer>-30</integer>
      <key>S</key>
      <integer>-20</integer>
      <key>eight</key>
      <integer>-30</integer>
      <key>eth</key>
      <integer>-10</integer>
      <key>five</key>
      <integer>-10</integer>
      <key>four</key>
      <integer>-60</integer>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>-40</integer>
      <key>public.kern2._dashes</key>
      <integer>-60</integer>
      <key>public.kern2._zero</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-60</integer>
      <key>public.kern2.t</key>
      <integer>-20</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-30</integer>
      <key>s</key>
      <integer>-20</integer>
      <key>six</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1._guils_1</key>
    <dict>
      <key>T</key>
      <integer>-10</integer>
      <key>V</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>s</key>
      <integer>10</integer>
      <key>z</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1._guils_2</key>
    <dict>
      <key>AE</key>
      <integer>-20</integer>
      <key>Eth</key>
      <integer>30</integer>
      <key>T</key>
      <integer>-40</integer>
      <key>V</key>
      <integer>-30</integer>
      <key>X</key>
      <integer>-20</integer>
      <key>j</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>10</integer>
      <key>x</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1._ptsLow</key>
    <dict>
      <key>T</key>
      <integer>-70</integer>
      <key>V</key>
      <integer>-100</integer>
      <key>W</key>
      <integer>-80</integer>
      <key>eight</key>
      <integer>-30</integer>
      <key>eth</key>
      <integer>-20</integer>
      <key>five</key>
      <integer>-5</integer>
      <key>four</key>
      <integer>-25</integer>
      <key>j</key>
      <integer>10</integer>
      <key>one</key>
      <integer>-70</integer>
      <key>public.kern2.O</key>
      <integer>-40</integer>
      <key>public.kern2.U</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>-110</integer>
      <key>public.kern2._dashes</key>
      <integer>-30</integer>
      <key>public.kern2._enclosures_1</key>
      <integer>-40</integer>
      <key>public.kern2._quotes</key>
      <integer>-120</integer>
      <key>public.kern2._zero</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.t</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <integer>-60</integer>
      <key>question</key>
      <integer>-50</integer>
      <key>seven</key>
      <integer>-55</integer>
      <key>six</key>
      <integer>-50</integer>
      <key>three</key>
      <integer>-15</integer>
      <key>two</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1._quotes</key>
    <dict>
      <key>AE</key>
      <integer>-140</integer>
      <key>J</key>
      <integer>-90</integer>
      <key>S</key>
      <integer>-35</integer>
      <key>V</key>
      <integer>10</integer>
      <key>W</key>
      <integer>10</integer>
      <key>eight</key>
      <integer>-15</integer>
      <key>eth</key>
      <integer>-20</integer>
      <key>five</key>
      <integer>-30</integer>
      <key>four</key>
      <integer>-60</integer>
      <key>j</key>
      <integer>-20</integer>
      <key>one</key>
      <integer>10</integer>
      <key>public.kern2.A</key>
      <integer>-90</integer>
      <key>public.kern2.O</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>10</integer>
      <key>public.kern2._ptslow</key>
      <integer>-150</integer>
      <key>public.kern2._zero</key>
      <integer>-20</integer>
      <key>public.kern2.b</key>
      <integer>-10</integer>
      <key>public.kern2.n</key>
      <integer>-25</integer>
      <key>public.kern2.o</key>
      <integer>-60</integer>
      <key>public.kern2.t</key>
      <integer>-20</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
      <key>s</key>
      <integer>-60</integer>
      <key>six</key>
      <integer>-20</integer>
      <key>three</key>
      <integer>-10</integer>
      <key>two</key>
      <integer>-10</integer>
      <key>x</key>
      <integer>-10</integer>
      <key>z</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1._sups</key>
    <dict>
      <key>j</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1._zero</key>
    <dict>
      <key>Euro</key>
      <integer>10</integer>
      <key>backslash</key>
      <integer>-50</integer>
      <key>divisionslash</key>
      <integer>-30</integer>
      <key>eight</key>
      <integer>-5</integer>
      <key>five</key>
      <integer>-10</integer>
      <key>four</key>
      <integer>-5</integer>
      <key>one</key>
      <integer>-20</integer>
      <key>public.kern2._enclosures_1</key>
      <integer>-40</integer>
      <key>public.kern2._ptslow</key>
      <integer>-50</integer>
      <key>public.kern2._quotes</key>
      <integer>-10</integer>
      <key>question</key>
      <integer>-10</integer>
      <key>seven</key>
      <integer>-40</integer>
      <key>slash</key>
      <integer>-50</integer>
      <key>three</key>
      <integer>-10</integer>
      <key>two</key>
      <integer>-20</integer>
      <key>underscore</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.c</key>
    <dict>
      <key>eth</key>
      <integer>-5</integer>
      <key>j</key>
      <integer>-5</integer>
      <key>public.kern2._enclosures_1</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>question</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.e</key>
    <dict>
      <key>j</key>
      <integer>-10</integer>
      <key>public.kern2._enclosures_1</key>
      <integer>-30</integer>
      <key>public.kern2._ptslow</key>
      <integer>-10</integer>
      <key>public.kern2._quotes</key>
      <integer>-10</integer>
      <key>public.kern2.t</key>
      <integer>-5</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>question</key>
      <integer>-20</integer>
      <key>x</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.i</key>
    <dict>
      <key>public.kern2._ptslow</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2._enclosures_1</key>
      <integer>-20</integer>
      <key>public.kern2._quotes</key>
      <integer>-20</integer>
      <key>public.kern2._sups</key>
      <integer>-10</integer>
      <key>public.kern2.b</key>
      <integer>-5</integer>
      <key>public.kern2.t</key>
      <integer>-5</integer>
      <key>public.kern2.v</key>
      <integer>-5</integer>
      <key>question</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>j</key>
      <integer>-10</integer>
      <key>public.kern2._colon</key>
      <integer>-10</integer>
      <key>public.kern2._dashes</key>
      <integer>10</integer>
      <key>public.kern2._enclosures_1</key>
      <integer>-60</integer>
      <key>public.kern2._guils_2</key>
      <integer>10</integer>
      <key>public.kern2._ptslow</key>
      <integer>-20</integer>
      <key>public.kern2._quotes</key>
      <integer>-35</integer>
      <key>public.kern2._sups</key>
      <integer>-20</integer>
      <key>public.kern2.t</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>question</key>
      <integer>-40</integer>
      <key>s</key>
      <integer>-5</integer>
      <key>x</key>
      <integer>-20</integer>
      <key>z</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.u</key>
    <dict>
      <key>public.kern2._enclosures_1</key>
      <integer>-10</integer>
      <key>question</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>eth</key>
      <integer>-10</integer>
      <key>exclam</key>
      <integer>10</integer>
      <key>j</key>
      <integer>-15</integer>
      <key>public.kern2._dashes</key>
      <integer>-10</integer>
      <key>public.kern2._enclosures_1</key>
      <integer>-30</integer>
      <key>public.kern2._ptslow</key>
      <integer>-60</integer>
      <key>public.kern2._quotes</key>
      <integer>20</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.t</key>
      <integer>5</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>s</key>
      <integer>-5</integer>
      <key>x</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.x</key>
    <dict>
      <key>eth</key>
      <integer>-30</integer>
      <key>public.kern2._dashes</key>
      <integer>-30</integer>
      <key>public.kern2._enclosures_1</key>
      <integer>-20</integer>
      <key>public.kern2._ptslow</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.t</key>
      <integer>-5</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>s</key>
      <integer>-10</integer>
    </dict>
    <key>question</key>
    <dict>
      <key>AE</key>
      <integer>-60</integer>
      <key>J</key>
      <integer>-50</integer>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2._ptslow</key>
      <integer>-100</integer>
    </dict>
    <key>questiondown</key>
    <dict>
      <key>T</key>
      <integer>-65</integer>
      <key>V</key>
      <integer>-60</integer>
      <key>W</key>
      <integer>-50</integer>
      <key>eight</key>
      <integer>-20</integer>
      <key>one</key>
      <integer>-30</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-80</integer>
      <key>public.kern2._zero</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>public.kern2.t</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <integer>-40</integer>
      <key>seven</key>
      <integer>-20</integer>
      <key>six</key>
      <integer>-40</integer>
    </dict>
    <key>r</key>
    <dict>
      <key>eth</key>
      <integer>-5</integer>
      <key>j</key>
      <integer>-20</integer>
      <key>public.kern2._ptslow</key>
      <integer>-90</integer>
      <key>public.kern2._sups</key>
      <integer>20</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>15</integer>
      <key>s</key>
      <integer>-15</integer>
    </dict>
    <key>s</key>
    <dict>
      <key>j</key>
      <integer>-5</integer>
      <key>public.kern2._enclosures_1</key>
      <integer>-40</integer>
      <key>public.kern2._ptslow</key>
      <integer>-20</integer>
      <key>public.kern2._quotes</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-5</integer>
      <key>question</key>
      <integer>-30</integer>
      <key>s</key>
      <integer>-10</integer>
    </dict>
    <key>seven</key>
    <dict>
      <key>Euro</key>
      <integer>-20</integer>
      <key>ampersand</key>
      <integer>-20</integer>
      <key>at</key>
      <integer>-40</integer>
      <key>cent</key>
      <integer>-40</integer>
      <key>divisionslash</key>
      <integer>-90</integer>
      <key>eight</key>
      <integer>-15</integer>
      <key>five</key>
      <integer>-30</integer>
      <key>four</key>
      <integer>-50</integer>
      <key>numbersign</key>
      <integer>-10</integer>
      <key>public.kern2._colon</key>
      <integer>-30</integer>
      <key>public.kern2._dashes</key>
      <integer>-70</integer>
      <key>public.kern2._guils_2</key>
      <integer>-30</integer>
      <key>public.kern2._ptslow</key>
      <integer>-130</integer>
      <key>public.kern2._zero</key>
      <integer>-30</integer>
      <key>section</key>
      <integer>-10</integer>
      <key>seven</key>
      <integer>-20</integer>
      <key>six</key>
      <integer>-25</integer>
      <key>slash</key>
      <integer>-80</integer>
      <key>sterling</key>
      <integer>-20</integer>
      <key>three</key>
      <integer>-10</integer>
      <key>two</key>
      <integer>-15</integer>
      <key>underscore</key>
      <integer>-70</integer>
    </dict>
    <key>six</key>
    <dict>
      <key>divisionslash</key>
      <integer>-10</integer>
      <key>five</key>
      <integer>-10</integer>
      <key>one</key>
      <integer>-5</integer>
      <key>public.kern2._enclosures_1</key>
      <integer>-20</integer>
      <key>public.kern2._ptslow</key>
      <integer>-40</integer>
      <key>public.kern2._quotes</key>
      <integer>-20</integer>
      <key>public.kern2._zero</key>
      <integer>-10</integer>
      <key>seven</key>
      <integer>-10</integer>
      <key>two</key>
      <integer>-10</integer>
      <key>underscore</key>
      <integer>-20</integer>
    </dict>
    <key>slash</key>
    <dict>
      <key>eight</key>
      <integer>-30</integer>
      <key>five</key>
      <integer>-30</integer>
      <key>four</key>
      <integer>-70</integer>
      <key>public.kern2._zero</key>
      <integer>-40</integer>
      <key>seven</key>
      <integer>-10</integer>
      <key>six</key>
      <integer>-50</integer>
      <key>two</key>
      <integer>-10</integer>
    </dict>
    <key>t</key>
    <dict>
      <key>eth</key>
      <integer>-5</integer>
      <key>j</key>
      <integer>-15</integer>
      <key>public.kern2._enclosures_1</key>
      <integer>-10</integer>
      <key>public.kern2._ptslow</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>x</key>
      <integer>-5</integer>
    </dict>
    <key>three</key>
    <dict>
      <key>divisionslash</key>
      <integer>-10</integer>
      <key>five</key>
      <integer>-10</integer>
      <key>four</key>
      <integer>-5</integer>
      <key>one</key>
      <integer>-5</integer>
      <key>public.kern2._dashes</key>
      <integer>-10</integer>
      <key>public.kern2._ptslow</key>
      <integer>-5</integer>
      <key>public.kern2._zero</key>
      <integer>-5</integer>
      <key>slash</key>
      <integer>-20</integer>
      <key>two</key>
      <integer>-10</integer>
      <key>underscore</key>
      <integer>-20</integer>
    </dict>
    <key>two</key>
    <dict>
      <key>backslash</key>
      <integer>-30</integer>
      <key>eight</key>
      <integer>-10</integer>
      <key>five</key>
      <integer>-20</integer>
      <key>four</key>
      <integer>-20</integer>
      <key>one</key>
      <integer>-15</integer>
      <key>public.kern2._dashes</key>
      <integer>-20</integer>
      <key>public.kern2._enclosures_1</key>
      <integer>-10</integer>
      <key>public.kern2._ptslow</key>
      <integer>-10</integer>
      <key>public.kern2._zero</key>
      <integer>-10</integer>
      <key>seven</key>
      <integer>-15</integer>
      <key>six</key>
      <integer>-10</integer>
      <key>three</key>
      <integer>-5</integer>
      <key>two</key>
      <integer>-20</integer>
    </dict>
    <key>underscore</key>
    <dict>
      <key>four</key>
      <integer>-40</integer>
      <key>public.kern2._zero</key>
      <integer>-30</integer>
      <key>seven</key>
      <integer>-20</integer>
    </dict>
    <key>y</key>
    <dict>
      <key>public.kern2._ptslow</key>
      <integer>-90</integer>
    </dict>
    <key>z</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>-10</integer>
    </dict>
  </dict>
</plist>
