<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>ae.alt</key>
    <string>ae.alt.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.superior</key>
    <string>four.superior.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
  </dict>
</plist>
