<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.typemytype.robofont.segmentType</key>
    <string>curve</string>
    <key>public.glyphOrder</key>
    <array>
      <string>P</string>
      <string>hyphensoft</string>
      <string>G</string>
      <string>emdash</string>
      <string>section</string>
      <string>semicolon</string>
      <string>braceright</string>
      <string>greater</string>
      <string>Udieresis</string>
      <string>igrave</string>
      <string>Ugrave</string>
      <string>r</string>
      <string>brokenbar</string>
      <string>equal</string>
      <string>quotedbl</string>
      <string>divisionslash</string>
      <string>threequarters</string>
      <string>Uacute</string>
      <string>seven</string>
      <string>Y</string>
      <string>ucircumflex</string>
      <string>j</string>
      <string>quotedblright</string>
      <string>copyright</string>
      <string>b</string>
      <string>k</string>
      <string>onehalf</string>
      <string>otilde</string>
      <string>atilde</string>
      <string>ccedilla</string>
      <string>K</string>
      <string>C</string>
      <string>Ydieresis</string>
      <string>a</string>
      <string>Ucircumflex</string>
      <string>tilde</string>
      <string>quoteright</string>
      <string>ordmasculine</string>
      <string>odieresis</string>
      <string>Yacute</string>
      <string>ugrave</string>
      <string>ampersand</string>
      <string>Igrave</string>
      <string>v</string>
      <string>B</string>
      <string>uacute</string>
      <string>comma</string>
      <string>four.superior</string>
      <string>circumflex</string>
      <string>three</string>
      <string>oslash</string>
      <string>ocircumflex</string>
      <string>cedilla</string>
      <string>eight</string>
      <string>R</string>
      <string>quotedblbase</string>
      <string>divide</string>
      <string>udieresis</string>
      <string>quoteleft</string>
      <string>g</string>
      <string>acute</string>
      <string>quotesingle</string>
      <string>M</string>
      <string>Oacute</string>
      <string>x</string>
      <string>Ocircumflex</string>
      <string>germandbls</string>
      <string>ograve</string>
      <string>endash</string>
      <string>N</string>
      <string>s</string>
      <string>f</string>
      <string>aacute</string>
      <string>exclam</string>
      <string>c</string>
      <string>guillemetright</string>
      <string>icircumflex</string>
      <string>less</string>
      <string>S</string>
      <string>Ecircumflex</string>
      <string>nine</string>
      <string>agrave</string>
      <string>Edieresis</string>
      <string>periodcentered</string>
      <string>slash</string>
      <string>W</string>
      <string>u</string>
      <string>Oslash</string>
      <string>mu.math</string>
      <string>backslash</string>
      <string>questiondown</string>
      <string>Q.alt</string>
      <string>guilsinglright</string>
      <string>two</string>
      <string>w</string>
      <string>Egrave</string>
      <string>asciicircum</string>
      <string>colon</string>
      <string>q.alt</string>
      <string>yen</string>
      <string>idieresis</string>
      <string>Odieresis</string>
      <string>quotesinglbase</string>
      <string>iacute</string>
      <string>dollar</string>
      <string>threesuperior</string>
      <string>Agrave</string>
      <string>five</string>
      <string>O</string>
      <string>bracketright</string>
      <string>egrave</string>
      <string>l</string>
      <string>z</string>
      <string>y</string>
      <string>aring</string>
      <string>ellipsis</string>
      <string>ae</string>
      <string>bullet</string>
      <string>Ograve</string>
      <string>guillemetleft</string>
      <string>space</string>
      <string>edieresis</string>
      <string>Eacute</string>
      <string>onesuperior</string>
      <string>ring</string>
      <string>asciitilde</string>
      <string>cent</string>
      <string>at</string>
      <string>ecircumflex</string>
      <string>d</string>
      <string>oacute</string>
      <string>adieresis</string>
      <string>period</string>
      <string>Ntilde</string>
      <string>Aring</string>
      <string>e</string>
      <string>AE</string>
      <string>one</string>
      <string>parenright</string>
      <string>twosuperior</string>
      <string>multiply</string>
      <string>t</string>
      <string>D</string>
      <string>U</string>
      <string>X</string>
      <string>oe</string>
      <string>thorn</string>
      <string>Q</string>
      <string>macron</string>
      <string>E</string>
      <string>guilsinglleft</string>
      <string>acircumflex</string>
      <string>H</string>
      <string>one.alt</string>
      <string>exclamdown</string>
      <string>bracketleft</string>
      <string>numbersign</string>
      <string>Atilde</string>
      <string>minus</string>
      <string>Idieresis</string>
      <string>logicalnot</string>
      <string>Adieresis</string>
      <string>percent</string>
      <string>p</string>
      <string>paragraph</string>
      <string>registered</string>
      <string>parenleft</string>
      <string>I</string>
      <string>Aacute</string>
      <string>Z</string>
      <string>eacute</string>
      <string>fraction</string>
      <string>six</string>
      <string>ordfeminine</string>
      <string>quotedblleft</string>
      <string>A</string>
      <string>Eth</string>
      <string>Otilde</string>
      <string>yacute</string>
      <string>asterisk</string>
      <string>Acircumflex</string>
      <string>bar</string>
      <string>o</string>
      <string>plusminus</string>
      <string>h</string>
      <string>T</string>
      <string>nbspace</string>
      <string>ntilde</string>
      <string>m</string>
      <string>eth</string>
      <string>n</string>
      <string>dotlessi</string>
      <string>four</string>
      <string>sterling</string>
      <string>Ccedilla</string>
      <string>q</string>
      <string>ydieresis</string>
      <string>F</string>
      <string>dieresis</string>
      <string>onequarter</string>
      <string>Iacute</string>
      <string>braceleft</string>
      <string>plus</string>
      <string>zero</string>
      <string>currency</string>
      <string>OE</string>
      <string>Euro</string>
      <string>Icircumflex</string>
      <string>grave</string>
      <string>Thorn</string>
      <string>i</string>
      <string>L</string>
      <string>V</string>
      <string>hyphen</string>
      <string>question</string>
      <string>underscore</string>
      <string>degree</string>
      <string>J</string>
    </array>
  </dict>
</plist>
