<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>Ecedilla</key>
    <string>E_cedilla.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Eogonek</key>
    <string>E_ogonek.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>Iogonek</key>
    <string>I_ogonek.glif</string>
    <key>Ldot</key>
    <string>L_dot.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif</string>
    <key>Oogonek</key>
    <string>O_ogonek.glif</string>
    <key>Scedilla</key>
    <string>S_cedilla.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>Tbar</key>
    <string>T_bar.glif</string>
    <key>Tcedilla</key>
    <string>T_cedilla.glif</string>
    <key>Uhorn</key>
    <string>U_horn.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>acutecmb</key>
    <string>acutecmb.glif</string>
    <key>aogonek</key>
    <string>aogonek.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>belowbrevecmb</key>
    <string>belowbrevecmb.glif</string>
    <key>bracketangleleft</key>
    <string>bracketangleleft.glif</string>
    <key>bracketangleright</key>
    <string>bracketangleright.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>brevecmb</key>
    <string>brevecmb.glif</string>
    <key>bulletoperator</key>
    <string>bulletoperator.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>caroncmb</key>
    <string>caroncmb.glif</string>
    <key>caroncmb.alt</key>
    <string>caroncmb.alt.glif</string>
    <key>cedi</key>
    <string>cedi.glif</string>
    <key>cedillacmb</key>
    <string>cedillacmb.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>circumflexcmb</key>
    <string>circumflexcmb.glif</string>
    <key>colonmonetary</key>
    <string>colonmonetary.glif</string>
    <key>commaaccentbelowcmb</key>
    <string>commaaccentbelowcmb.glif</string>
    <key>commaturnedabovecmb</key>
    <string>commaturnedabovecmb.glif</string>
    <key>commercialminussign</key>
    <string>commercialminussign.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>dieresisbelowcmb</key>
    <string>dieresisbelowcmb.glif</string>
    <key>dieresiscmb</key>
    <string>dieresiscmb.glif</string>
    <key>dong</key>
    <string>dong.glif</string>
    <key>dotaccent</key>
    <string>dotaccent.glif</string>
    <key>dotaccentcmb</key>
    <string>dotaccentcmb.glif</string>
    <key>dotbelowcmb</key>
    <string>dotbelowcmb.glif</string>
    <key>dotlessj</key>
    <string>dotlessj.glif</string>
    <key>ecedilla</key>
    <string>ecedilla.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>fhook</key>
    <string>fhook.glif</string>
    <key>franc</key>
    <string>franc.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>gnrl:hyphen</key>
    <string>gnrl_hyphen.glif</string>
    <key>gravecmb</key>
    <string>gravecmb.glif</string>
    <key>gravedoublecmb</key>
    <string>gravedoublecmb.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
    <key>guarani</key>
    <string>guarani.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>hookabovecmb</key>
    <string>hookabovecmb.glif</string>
    <key>horncmb</key>
    <string>horncmb.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>hungarumlautcmb</key>
    <string>hungarumlautcmb.glif</string>
    <key>indianrupee</key>
    <string>indianrupee.glif</string>
    <key>invertedbrevecmb</key>
    <string>invertedbrevecmb.glif</string>
    <key>iogonek</key>
    <string>iogonek.glif</string>
    <key>kip</key>
    <string>kip.glif</string>
    <key>kra</key>
    <string>kra.glif</string>
    <key>ldot</key>
    <string>ldot.glif</string>
    <key>lessequal</key>
    <string>lessequal.glif</string>
    <key>lira</key>
    <string>lira.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>macronbelowcmb</key>
    <string>macronbelowcmb.glif</string>
    <key>macroncmb</key>
    <string>macroncmb.glif</string>
    <key>manat</key>
    <string>manat.glif</string>
    <key>minute</key>
    <string>minute.glif</string>
    <key>naira</key>
    <string>naira.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>numero</key>
    <string>numero.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>ogonekcmb</key>
    <string>ogonekcmb.glif</string>
    <key>ohorn</key>
    <string>ohorn.glif</string>
    <key>oogonek</key>
    <string>oogonek.glif</string>
    <key>periodcentered.loclCAT</key>
    <string>periodcentered.loclC_A_T_.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>peseta</key>
    <string>peseta.glif</string>
    <key>peso</key>
    <string>peso.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>ringabovecmb</key>
    <string>ringabovecmb.glif</string>
    <key>ruble</key>
    <string>ruble.glif</string>
    <key>scedilla</key>
    <string>scedilla.glif</string>
    <key>schwa</key>
    <string>schwa.glif</string>
    <key>second</key>
    <string>second.glif</string>
    <key>tbar</key>
    <string>tbar.glif</string>
    <key>tcedilla</key>
    <string>tcedilla.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>tildecmb</key>
    <string>tildecmb.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>turkishlira</key>
    <string>turkishlira.glif</string>
    <key>uhorn</key>
    <string>uhorn.glif</string>
    <key>uogonek</key>
    <string>uogonek.glif</string>
    <key>won</key>
    <string>won.glif</string>
  </dict>
</plist>
