<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.superior</key>
    <string>four.superior.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>mu.math</key>
    <string>mu.math.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>u.alt</key>
    <string>u.alt.glif</string>
    <key>w</key>
    <string>w.glif</string>
  </dict>
</plist>
