<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>threequarters</key>
    <string>threequarters.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif</string>
    <key>wineGlass</key>
    <string>wineG_lass.glif</string>
    <key>z</key>
    <string>z.glif</string>
  </dict>
</plist>
