<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Dcroat</key>
    <string>D_croat.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>dotaccent</key>
    <string>dotaccent.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
  </dict>
</plist>
