<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>730</integer>
    <key>capHeight</key>
    <integer>680</integer>
    <key>descender</key>
    <integer>-160</integer>
    <key>familyName</key>
    <string>Tilt Neon Model</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>ZlqGNf8gIT</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>645</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>omKPhyALbo</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>35</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>1sb1Rl1C5X</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>482</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>03hcTtgAp6</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>-110</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>pxxDZNkZK5</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>50</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>e3voJI2JUm</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>467</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>UKzgCfLGFC</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>630</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>BkASMzOoqe</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>-125</integer>
      </dict>
    </array>
    <key>postscriptBlueValues</key>
    <array/>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>styleName</key>
    <string>Regular</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>xHeight</key>
    <integer>517</integer>
  </dict>
</plist>
