<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.superior</key>
    <string>four.superior.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif</string>
  </dict>
</plist>
