<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>730</integer>
    <key>capHeight</key>
    <integer>680</integer>
    <key>copyright</key>
    <string>EARLY BETA VERSION, please don't redistribute! Thanks --Andy</string>
    <key>descender</key>
    <integer>-160</integer>
    <key>familyName</key>
    <string>Tilt Beta Neon</string>
    <key>guidelines</key>
    <array/>
    <key>openTypeHheaAscender</key>
    <integer>990</integer>
    <key>openTypeHheaDescender</key>
    <integer>-272</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameCompatibleFullName</key>
    <string>Tilt Beta Neon Regular</string>
    <key>openTypeNameDesigner</key>
    <string>Andy Clymer</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://www.andyclymer.com/</string>
    <key>openTypeNameLicense</key>
    <string>EARLY BETA VERSION, please don't redistribute! Thanks --Andy</string>
    <key>openTypeNameManufacturer</key>
    <string>Andy Clymer</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.andyclymer.com/</string>
    <key>openTypeNamePreferredFamilyName</key>
    <string>Tilt Beta Neon</string>
    <key>openTypeNamePreferredSubfamilyName</key>
    <string>Regular</string>
    <key>openTypeNameVersion</key>
    <string>0.7 BETA 2020_02_05</string>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>2</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2TypoAscender</key>
    <integer>990</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-272</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>990</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>272</integer>
    <key>postscriptBlueValues</key>
    <array/>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptFontName</key>
    <string>TiltBetaNeon-Regular</string>
    <key>postscriptFullName</key>
    <string>Tilt Beta Neon Regular</string>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>postscriptWeightName</key>
    <string>Regular</string>
    <key>styleMapFamilyName</key>
    <string>Tilt Beta Neon Regular</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>trademark</key>
    <string>EARLY BETA VERSION, please don't redistribute! Thanks --Andy</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>0</integer>
    <key>versionMinor</key>
    <integer>7</integer>
    <key>xHeight</key>
    <integer>517</integer>
    <key>year</key>
    <integer>2019</integer>
  </dict>
</plist>
